.start-screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;

  .start-btn {
    padding: 16px;
  }

  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
