<h1 mat-dialog-title>Legacy</h1>
<div mat-dialog-content>
    <div class="currentUrl-design">
        <a href='{{ currentUrl }}'>Invite link</a>
        <button (click)="copyMessage(currentUrl)" mat-mini-fab color="primary" class="btn-legacy">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>
</div>

<div mat-dialog-actions class="underline-container">
    <div class="legacy-container">
        <a (click)="this.dialogRef.close();" routerLink="/imprint">Imprint</a>
        <a (click)="this.dialogRef.close();" routerLink="/privacy">Privacy</a>
        <a href="https://www.freepik.com/author/denamorado" target="_blank">Credits (Background)</a>
    </div>
    <button mat-button (click)="this.dialogRef.close();">Close</button>
</div>