body {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #414448;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.d-none {
    display: none;
}

.start-btn {
    position: absolute;
    top: 10%;

    button {
        padding: 16px 48px;
        font-size: 20px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border: 2px solid lightgoldenrodyellow;
        box-shadow: transparent;
        transition: all 225ms ease-in-out;

        &:hover {
            box-shadow: lightgoldenrodyellow 0px 4px 12px;
            transition: all 225ms ease-in-out;
        }
    }
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}